{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="col-12">
  <div class="card m-4">
    <div class="card-body">
      <div>
        <img
          class="card-img-top w-50"
          src="{{post.image.url}}"
          alt="Card image cap"
        />
      </div>
      <div>
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.content}}</p>
        <p><small>Author: {{post.author.name}}</small></p>
        <div>
          Category: {% for cat in post.categories.all %}
          <button class="btn btn-primary btn-sm m-2" disabled>
            {{cat.name}} {% endfor %}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card m-4">
  <p class="h5 p-3">Total Comments: {{ comments | length }}</p>
  {% for comment in comments %}
  <div class="card-body border m-3">
    <p><b>{{comment.name}}</b> <small>{{comment.created_on}}</small></p>
    <p>{{comment.body}}</p>
  </div>
  {% endfor %}
</div>

<div class="card m-4">
  <div class="card-body">
    <form class="pt-5" method="post">
      <h1>Add Post Page</h1>
      {% csrf_token %} {{comment_form | crispy }}
      <button class="btn btn-warning mb-3">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
