{% extends "base.html" %} 
{% block body %} 
{% load crispy_forms_tags %} 
    {% if messages %} 
        {% for m in messages %}
        <small {% if m.tags %} class="{{m.tags}}" {% endif %}>{{m}}</small>
        {% endfor %} 
{% endif %}
<h1 class="text-center">Sign Up</h1>
<form
  method="post"
  style="width: 50%; margin: auto"
  class="d-flex flex-column"
  novalidate
>
  {% csrf_token %} {% for fm in form %} {{fm.label_tag}} {{fm}}
  {{fm.errors|striptags}} {% endfor %}
  <div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </div>
  <p>Already have a account? <a href="{% url "login" %}">Login</a></p>
</form>

{% endblock body %}
